



  <div class="searchResults">
    <form class="searchForm" ng-submit="sendQuery(searchQuery)">
      <input ng-model="searchQuery" placeholder="Search for Recipes..."></input>
      <input type="submit"></input>
    </form>
    <div ng-Repeat="recipe in recipeData">

      <div class="recipeHeader">
        <img src="{{recipe.recipe.image}}" alt="food" height="60" width="60">
        <b>{{recipe.recipe.label}}</b>
      </div>
      <div class="recipeSource">
        Source: <img src="{{recipe.recipe.sourceIcon}}" alt="source" height="20" width="20">
        <a href="{{recipe.recipe.url}}">{{recipe.recipe.source}}</a>

      </div>
      <div class="recipeSummary">
        <span>{{recipe.recipe.ingredients.length}} ingredients</span> |
        <span>{{roundNumber(recipe.recipe.calories)}} calories</span>
        <div>
          <span ng-Repeat="healthlabel in recipe.recipe.healthLabels">{{healthlabel}}<span ng-show="!$last">, </span></span>
        </div>
      </div>

      <div class="recipeButtons">
        <button ng-click="moreInfo = !moreInfo; moreIngredientInfo = true" href="#">More Info</button>
        <button ng-click="sendToGroceryCart($index)">select</button>
      </div>

      <div class="moreInfoPane" ng-show="moreInfo">
        <ul>
          <li><a href="#" class="tablinks" ng-click="moreIngredientInfo = !ingredientInfo; moreNutrientInfo = false">Ingredients</a></li>
          <li><a href="#" class="tablinks" ng-click="moreNutrientInfo = !moreNutrientInfo; moreIngredientInfo = false">Nutrients</a></li>
        </ul>

        <div class="ingredients" ng-show="moreIngredientInfo">
          {{recipe.recipe.yield}} servings
          <span ng-Repeat="ingredient in recipe.recipe.ingredients" style="display: block"> {{ingredient.text}}</span>
        </div>
        <div class="nutrients" ng-show="moreNutrientInfo">
          <div ng-Repeat="nutrient in recipe.recipe.totalNutrients">
            {{nutrient.label}}: {{roundNumber(nutrient.quantity)}} {{nutrient.unit}}
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="groceryCart">
    <input placeholder="Name your grocery list"></input>
    <div ng-Repeat="recipe in groceryCart">
      <input class="groceryCartServingsInput" value="{{recipe.recipe.yield}}"></input> servings of:
      <div class="recipeHeader">


        <img src="{{recipe.recipe.image}}" alt="food" height="60" width="60">
        <b>{{recipe.recipe.label}}</b>
      </div>
      <button ng-click="removeFromGroceryCart($index)">Deselect</button>




    </div>
    <button>MAKE SHOPPING LIST!</button>
  </div>
