@font-face {
    font-family: supermarket;
    src: url(VTCSuperMarketSaleRegular.ttf);
}
body,
html {
    height: 100%;
}
body {
    background-color: #ddd;
    display: flex;
    flex-flow: column;
    height: 100%;
}
.header {
    flex: 0 1 auto;
    padding: 10px 0 0 50px;
    background: ; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(white, #ddd); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(white, #ddd); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(white, #ddd); /* For Firefox 3.6 to 15 */
   background: linear-gradient(white, #ddd); /* Standard syntax */
}
.header h3 {
    display: inline-block;
    top: 20px;
    font-family: supermarket;
    font-size: 50px;
}
.header img {
    mix-blend-mode: multiply;
    width: 50px;
    height: auto;
    margin: 0 10px 30px 0
}
.navbar {
    /*height: 50px;*/
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #111;
}
.main {
    flex: 1 1 auto;
    position: relative;
}

.searchResults {
    width: 65%;
    float: left;
    padding-right: 10px;
    top: 0;
    bottom: 0;
    position: absolute;
    padding-top: 10px;
}
.searchForm {
    text-align: center;
}
.recipeCardsContainer {
    min-height: 100px;
}
.recipeCard {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
}
.recipeCard .recipeInfo {
    width: 80%;
    display: inline-block;
}
.recipeCard .recipeButtons {
    float: right;
    width: 20%;
    bottom: 100px;
    display: inline-block;
}
.recipeCard .healthLabel {
    font-size: 12px;
    font-style: italic;
}
.recipeInfo .recipeHeader {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

@media screen and (max-width: 900px) {
  .recipeHeader b {
    display: block;
  }
}

.recipeButtons button {
    float: right;
}
.moreInfoPane ul {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.moreInfoPane li {
    float: left;
}
.moreInfoPane li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
.moreInfoPane li a:hover {
    background-color: #111;
}
.groceryCart {
    width: 35%;
    background-color: #55AE3A;
    height: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
    max-height: 100vh;
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.groceryCartCard {
    background-color: white;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: -1px;
    float: left;
    width: 100%;
    /*clear: both;*/
}
.groceryCartRecipe div {
    display: inline-block;
}
.groceryCartCardContainer {
    overflow-y: auto;
    height: calc(100% - 120px);
    background-color: #bbb;

}

@media screen and (max-width: 451px) {
  .groceryCartCardContainer {
      overflow-y: auto;
      height: calc(100% - 165px);
      background-color: #bbb;

  }
}

.groceryCartServings input {
    width: 30px;
    margin-bottom: 10px;
}
.groceryCartRecipePic {
    width: 45px;
    /*display: inline-block;*/
    float: left;
    margin-right: 5px;
}

.groceryCartRecipePic {
  display: block;
}

.groceryCartRecipeLabel {
    width: calc(100% - 80px);
    overflow-wrap: break-word;
    line-height: 1;
}

@media screen and (max-width: 550px) {
  .groceryCartRecipePic img {
    display: none;
  }
  .groceryCartRecipeLabel {
      width: calc(100% - 15px);
  }
}
.groceryCartRecipeDeselect {
    width: 15px;
    float: right;
}
.groceryCartHeader {
    text-align: center;
    /*height: 30px;*/
    font-size: 20px;
}
.groceryCartHeader {
    font-family: supermarket;
}
.groceryListSubmitButtonContainer {
    text-align: center;
    height: 75px;
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
}
@media screen and (max-width: 470px) {
  .groceryListSubmitButtonContainer {
      height: 100px;

  }
}


.groceryListSubmitButtonContainer input {
    margin-bottom: 10px;
    width: 90%;
}
.shoppingListPreview {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #191919;
    color: white;
    overflow-y: auto;
    max-height: 70%;
    padding: 20px;
    border-radius: 15px;
}
.shoppingListPreview span {
    top: 10px;
    right: 10px;
    position: absolute;
}
